{% extends "base.html" %}
{% block title %}
    <title>
        Авторизация
    </title>
{% endblock %}
{% block content %}
    <div class="form-center">
    <div class="container-form">
        <h2>Авторизация</h2>
    <br>
        <form method="post" autocomplete="off" >
            {% csrf_token %}
            {% for input in login_form %}
                <div>
                    <b><label for="input"> {{ input.label }}: </label></b>
                </div>
                <div>{{ input }}</div>
            <br>
            {% endfor %}
            <input type="submit" value="Войти">
        </form>
    </div>
    </div>
{% endblock %}
