{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>
        Личный кабинет
    </title>
{% endblock %}
{% block content %}
    <div class="container">
    <div>
        <h2>Личный кабинет</h2>
    {% if text %}
    <p>{{ text }}</p>
    {% else %}
    <div>
        <p>{{ text }}</p>
        <p>{{ user_list.username }}</p>
        <p>{{ user_list.email }}</p>
    </div>
        <h3>Организация</h3>
                {% if org_list %}
                    <ul>
                        {% for org in org_list %}
                            <li>
                            <div>
                                {% if org.logo %}
                                    <img class="img-logo" src="{{ org.logo.url }}" alt="">
                                {% else %}
                                    <img class="img-logo" src="{% static "images/logo.png" %}" alt="">
                                {% endif %}
                                <a href="{% url 'page_org' org.pk %}">{{ org.name_org }}</a>
                                <p>{{ org.description_event|linebreaks|truncatewords:50 }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <h4>Занятия, кружки, секции</h4>
                    <ul>
                        {% for classes in class_list %}
                            <li>
                                <div>
                                    {% if classes.poster %}
                                        <img class="img-logo" src="{{ classes.poster.url }}" alt="">
                                    {% else %}
                                        <img class="img-logo" src="{% static "images/logo.png" %}" alt="">
                                    {% endif %}
                                    <a href="{% url 'page_class' classes.pk %}">{{ classes.name_class }}</a>
                                    <p>{{ classes.description_event|linebreaks|truncatewords:50 }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url "create_class" %}">+ Добавить курсы</a>
                    <h4>Мероприятия</h4>
                    <ul>
                        {% for event in event_list %}
                            <li>
                                <div>
                                    {% if event.poster %}
                                        <img class="img-logo" src="{{ event.poster.url }}" alt="">
                                    {% else %}
                                        <img class="img-logo" src="{% static "images/logo.png" %}" alt="">
                                    {% endif %}
                                    <a href="{% url 'page_event' event.pk %}">{{ event.name_event }}</a>
                                    <p>{{ event.description_event|linebreaks|truncatewords:50 }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url "create_event" %}">+ Добавить мероприятие</a>
                {% else %}
                    <div>
                        <a href="{% url "create_org" %}">+ Добавить организацию</a>
                    </div>
                {% endif %}
    {% endif %}
    </div>
    </div>
    {% endblock %}