{% extends "base.html" %}
{% block title %}
    <title>
        Регистрация
    </title>
{% endblock %}
{% block content %}
    <div class="form-center">
        <div class="container-form">
            <form method="post" autocomplete="off" >
            <h2>Регистрация нового пользователя</h2>
                <br>
                {% csrf_token %}
                {% for input in form %}
                    <div>
                        <b><label for="input">{{ input.label }}:</label></b>
                    </div>
                    <div>
                        {{ input }}
                    </div>
                    <div class="form-error">{{ input.errors }}</div>
                    <br>
                {% endfor %}
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </div>
{% endblock %}
