{% extends "base.html" %}
{% block title %}
    <title>
        Про Фаниполь
    </title>
{% endblock %}
{% block content %}
    <div class="container">
    <div>
        <h1>Фаниполь</h1>
        <img src="" alt="">
        <p>
            {{ text_page }}
        </p>
    </div>
    <ul>
    {% for org in orgs %}
        <li>
            <div>
                <img src="{{ org.logo }}" alt="">
            </div>
            <div>
                <b><a href="{% url 'page_org' org.id %}">{{ org.name_org }}</a></b>
                <p>{{ org.description_org|linebreaks|truncatewords:50 }}</p>
                <p>{{ org.address_org }}</p>
                <p>{{ org.phone_org }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
