{% extends 'base.html' %}
{% block title %}
    <title>
        Удаление
    </title>
{% endblock %}

{% block content %}
    <div class="container">
    <h2>Удаление</h2>
    <div class="center"></div>
        <div class="box-8">
        <form action="" class="center" method="post">
            {% csrf_token %}
                <p class="title-2">Вы уверены, что хотите удалить "{{ object }}"?</p>
                {{ form }}
            <input class="margin-3" type="submit" value="Удалить" />
        </form>
        </div>
    </div>
    </div>
{% endblock content %}