{% extends "base.html" %}
{% block title %}
    <title>
        Порядок регистрации
    </title>
{% endblock %}
{% block content %}
    <div class="container">
    <div>
        <h2>Порядок регистрации на сайте.</h2>
        <img src="" alt="">
        <p>
            На сайте можно размещать анонс мероприятий, а также рассказать
            о наборе на дополнительные занятия как для детей, так и для взрослых.
        </p>
        <p>
            Для размещения объявления, надо зарегистрироваться на сайте. Затем в Личном кабинете
            следует заполнить информацию об организации.
        </p>
    </div>
    </div>
{% endblock %}
