main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

body {
    background-color: #e1e5e5;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    bottom: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 20px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    list-style: none;
}

li {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
}

a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

p {
   margin: 2px ;
}

.center {
    text-align: center;
}

.li-pagination {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
}

.battan{
    margin: 0 30px;
    display: flex;
    justify-content: flex-end;
}

.box-1 {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.box-1-1 {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.box-2 {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2-1 {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2-2 {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
}


.box-3 {
    margin: 10px;
    padding: 10px;
    background-color: white;
    min-width: 220px;
}

.box-4 {
    margin: 5px;
    padding: 15px;
    min-width: 165px;
    max-width: 165px;
    border-radius: 15px;
    background-color: #e1eaeb;
}

.box-4-1 {
    margin: 5px;
    padding: 15px;
    width: 190px;
    border-radius: 15px;
    background-color: #e1eaeb;
}

.box-5 {
    margin: 15px 0;
    padding: 5px 25px;
    border-radius: 15px;
    box-shadow: black 0.25em 0.1em 0.1em;
    background-color: #c2cfd1;
}

.box-6 {
    margin: 10px;
    padding: 5px 25px;
    border-radius: 15px;
    border: 2px solid limegreen;
    box-shadow: limegreen 0.05em 0.1em 0.1em;
    background-color: #e5f1e5;
}

.box-10 {
    margin: 10px;
    padding: 5px 25px;
    border-radius: 15px;
    border: 0.5px solid #6e7778;
    box-shadow: #6e7778 0.05em 0.1em 0.1em;
    background-color: #c2cfd1;
}

.box-7 {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.box-8 {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-8-1 {
    margin: 10px;
    padding: 10px;
    max-width: 700px;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-9 {
    margin: 15px 0;
    padding: 5px 25px;
    border: 2px solid limegreen;
    border-radius: 15px;
    box-shadow: limegreen 0.05em 0.1em 0.1em;
    background-color: #e5f1e5;
}

.title-1 {
    font-weight: bold;
    font-size:  medium;
}


.title-2 {
    padding: 5px;
    font-weight: bold;
    font-size:  large;
}

.navigation {
    background-color: limegreen;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    margin: 0 auto  ;
    padding: 10px;
}

.paginatoin {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1170px;
    background-color: #ebf2f2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    }

.container-1 {
    max-width: 1170px;
    background-color: #ebf2f2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    }

.container-form {
    background-color: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 400px;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter_str{
    display: flex;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-errors {
    margin: 10px 0;
    padding: 10px;
    color: crimson;
}

.form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img {
    height: 80px;
    padding: 10px;
}

.about_img{
    width: 800px;
    margin: 20px auto;
}

.img-logo {
    width: 250px;
}

.img-logo-gos {
    width: 500px;
}

.img-galery {
    height: 350px;
    margin: 5px;
    border: 0.5px solid #6e7778;
}

.img-icon {
    height: 25px;
}

.s-sety {
    display: flex;
    flex-direction: row;
}

.img-ss {
    height: 35px;
    margin: 5px;
}

.list-footer {
    height: 60px;
    background-color: limegreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-header {
    margin: 0;
    padding: 20px 70px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-indent: 40px;
}

.text-2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-indent: 20px;
}

.margin {
    margin: 0 10px 0 0;
}

.margin-2 {
    margin: 0 30px ;
}

.margin-3 {
    margin: 20px;
    text-align: center;
}

.div-my{
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.p-my {
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.img-icon-my {
    height: 18px;
}
