{% extends "base.html" %}
{% block title %}
    <title>
        Занятие
    </title>
{% endblock %}
{% block content %}
    <div class="form-center">
    <div class="container-form">
    <div>
        <h2>Создание курса</h2>
        <br>
    </div>
    <form method="post" autocomplete="off" enctype="multipart/form-data" >
        {% csrf_token %}
        {% for input in form %}
            <div>
                <b><label for="input"> {{ input.label }}: </label></b>
            </div>
            <div>
                {{ input }}
            </div>
            <div>
                {{ input.help_text }}
            </div>
            <br>
        {% endfor %}
        <p>Если требуется изменить возраст для поиска, то надо создать другое мероприятие</p>
        <input type="submit" value="Сохранить">
    </form>
    </div>
    </div>
{% endblock %}