{% extends "base.html" %}
{% block title %}
    <title>
        Выбор мероприятия
    </title>
{% endblock %}
{% block content %}
{% load static %}
    <div class="container">
    <div>
        <h2>Выбор мероприятия</h2>
    <ul>
    {% for event in object_list %}
        <li class="box-1-1">
            <div class="box-2">
                {% if event.poster %}
                    <img class="img-logo-gos" src="{{ event.poster.url }}" alt="">
                {% else %}
                    <img class="img-logo-gos" src="{% static "images/logo.png" %}" alt="">
                {% endif %}
            </div>
            <div class="box-2-2">
                <a class="title-2" href="{% url 'page_event' event.pk %}">{{ event.name_event }}</a>
                <p class="title-1">
                    Мероприятие пройдет {{ event.date_event }} в
                    {{ event.time_event }} по адресу
                    {{ event.address_event }}
                </p>
                <a href="{% url 'page_org' event.name_org.pk %}"><b>Организатор: </b>{{ event.name_org }}</a>
                <div class="text-2"><p>{{ event.description_event|linebreaks|truncatewords:150 }}</p></div>
                {% if event.age_event %}
                    <p><b>Для кого:</b> {{ event.age_event }}</p>
                {% endif %}
                {% if event.price_event %}
                    <p><b>Стоимость:</b> {{ event.price_event }}</p>
                {% endif  %}
                <div class="li-pagination">
                    <a class="box-9" href="{% url 'page_event' event.pk %}">Подробнее..</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% if page_obj.has_other_pages %}
    <nav >
        <div>
            <ul class="paginatoin">
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li><p class="box-10" >{{ p }}</p></li>
                    {% else %}
                        <li  class="li-pagination">
                            <a class="box-6" href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% endif %}
    </div>
    </div>
{% endblock %}