{% extends "base.html" %}
{% block title %}
    <title>
        Личный кабинет
    </title>
{% endblock %}
{% block content %}
    <div class="form-center">
    <div class="container-form">
    <div>
        <h2>Создание мероприятия</h2>
        <br>
    </div>
    <form method="post" autocomplete="off" >
        {% csrf_token %}
        <div class="row-form-errors">{{ org_form.non_field_errors }}</div>
        {% for event in event_form %}
             <div>
                <b><label for="input"> {{ event.label }}: </label></b>
            </div>
            <div>{{ event }}</div>
            <div>{{ event.help_text }}</div>
            <div class="row-form-errors">{{ input.errors }}</div>
            <br>
        {% endfor %}
        <input type="submit" value="Сохранить">
    </form>
    </div>
    </div>
{% endblock %}