{% extends "base.html" %}
{% block title %}
    <title>
        Добавление организации
    </title>
{% endblock %}
{% block content %}
    <div class="form-center">
        <div class="container-form">
            <div>
                <h2>Добавление организации</h2>
                <br>
            </div>
            <form method="post" autocomplete="off" enctype="multipart/form-data" >
                {% csrf_token %}
                {% if form.name_class %}<div class="form-errors">{{ form.non_field_errors }}</div>{% endif %}
                {% for input in form %}
                    <div><b><label for="input"> {{ input.label }}: </label></b></div>
                    {% if input.errors %}<div class="form-errors">{{ input.errors }}</div>{% endif %}
                    <div>{{ input }}</div>
                    <div>{{ input.help_text }}</div>
                    <br>
                {% endfor %}
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </div>
{% endblock %}
