<div class="container">
    <nav>
        <div class="list">
            <div>
                <a href={% url "about_fanipol" %} >
                    <img src="" alt="">
                    Про Фаниполь
                </a>
            </div>
            <div>
                <a href={% url "choose_event" %}>
                    <img src="" alt="">
                    Мероприятия
                </a>
            </div>
            <div>
                <a href={% url "choose_class" %}>
                    <img src="" alt="">
                    Курсы, кружки, секции
                </a>
            </div>
        </div>
    </nav>
</div>